.instagram {
    &_link {
        display: block;
        text-align: center;
    
        font-family: Muli-ExtraBold;
        font-size: 24px;
        color: #0aa566;
        letter-spacing: -0.5px;
    
        margin-bottom: 50px;
    
        position: relative;
    }
    
    &_link {
    &::before {
        content: "";
        background-image: url(./../images/Icon.png);
        width: 27px;
        height: 27px;
        background-repeat: no-repeat;
        position: absolute;
        top: 0%;
        right: 55%;
    }
}
    
    &__content {
        display: flex;
        object-fit: cover;
    }
    
    &__wrap {
        width: 384px;
    
        background: linear-gradient(135deg, hsla(0, 0%, 100%, 0) 80%, rgba(42, 36, 36, .412202));
    
        position: relative;
    }
    
    &__wrap {
    &::before {
        content: "";
        background-image: url(./../images/Instagram.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 2;
        bottom: 6%;
        right: 5%;
    }
}
    
    
    &__photo {
        position: relative;
        z-index: -1;
    }
}