@font-face {
    font-family: Muli-Bold;
    src: url(./assets/fonts/Muli-Bold.ttf);
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: Muli-BoldItalic;
    src: url(./assets/fonts/Muli-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Muli-ExtraBold;
    src: url(./assets/fonts/Muli-ExtraBold.woff);
    font-display: swap;
}

@font-face {
    font-family: Muli-Italic;
    src: url(./assets/fonts/Muli-Italic.ttf);
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Muli-Regular;
    src: url(./assets/fonts/Muli-Regular.woff);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Muli-Semi;
    src: url(./assets/fonts/Muli-Semi-BoldItalic.ttf);
    font-display: swap;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    border: 1px solid transparent;
}

body {
    font-family: "Muli-Regular", sans-serif;

}

.btn {
    border-radius: 50px;
    font-family: "Muli";
    font-weight: 700;
}

.btn--green {
    background-color: #09a565;
    color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.title {
    font-family: "Muli-ExtraBold";
    letter-spacing: -1px;
    font-weight: 800;
}

/* Блок header  */

.header {
    height: 100vh;
    max-width: 100%;
    background-image: url(./assets/images/header-bg-img.png);
    background-position: center;
    background-size: cover;
    color: white;
}

.header__top {
    margin: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu__list {
    padding: 0px;
    display: flex;
    column-gap: 33px;
}

.menu__link {
    font-family: Muli-Bold;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

.header__logo {
    margin-top: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__right-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 135px;
    position: relative;
}

.personal__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 46px;
    padding-left: 0px;
}

.personal__list::after {
    content: "";
    width: 47px;
    height: 2px;
    background-color: #ffd68f;
    position: absolute;
    right: 170px;
}

.personal__list-item:last-child {
    position: relative;
}

.personal__counter {
    color: #000000;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border-color: transparent;
    font-size: 10px;
    position: absolute;
    top: -9px;
    right: -17px;
}

.social__list-item {
    border-radius: 50%;
    border-color: transparent;
    background-color: #ffffff;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__list {
    list-style-type: none;
    padding: 0px;
    display: flex;
    column-gap: 10px;
}

.header__content {
    display: flex;
    justify-content: center;
}

.content__btn {
    width: 281px;
    height: 71px;
    font-size: 24px;
    padding-top: 19px;
    padding-left: 40px;
}

.content__btn::after {
    content: "";
    background-image: url(./assets/images/Arrow.png);
    background-repeat: no-repeat;
    width: 33px;
    height: 20px;
    position: absolute;
    top: 29px;
    right: 49px;
}

.header__btn {
    display: flex;
    position: relative;
    }


/* Блок smoothies  */



.smoothies {
    max-width: 100%;
    /*может это нужно убрать? Проверить после верстки всего блока */
}

.title--orange {
    color: #f7ae3b;
    line-height: 40px;
    font-size: 50px;
}

.smoothies__title {
    text-align: center;
    margin-bottom: 55px;
    margin-top: 97px;
}

.text {
    font-size: 18px;
    line-height: 35px;
    color: #1e1e1e;
}

.smoothies__text {
    max-width: 918px;
    max-height: 156px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.smoothies__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 1010px;
    height: 400px;
    column-gap: 70px;
}

.smoothies__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    width: 190px;
    max-width: 100%;
    max-height: 100%;
}

.smoothies__img {
    object-fit: cover;
    margin: auto;
}

.smoothies__span {
    text-align: center;
    font-size: 25px;
    color: #f2612d;
}


/* Блок About  */

.about {
    background-color: #108173;
    max-width: 100%;
    display: flex;
}

.about__content {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.about__img {
    margin-bottom: -86px;
    position: relative;
    margin-left: 143px;
    margin-right: 179px;
    margin-top: 56px;

}

.about__title {
    color: #ffffff;
    font-size: 55px;
    text-align: left;
    margin-top: 97px;
    margin-bottom: 68px;
}

.title--yellow {
    color: #cae941;
}

.about__list {
    list-style-image: url(./assets/images/1.png);
    margin-bottom: 48px;
}

.about__item {
    font-size: 21px;
    color: #ffffff;
    line-height: 22px;
}

.about__item:not(:last-child) {
    margin-bottom: 24px;
}

.item--bold {
    font-family: Muli-ExtraBold;
}

.btn--transparet {
    background-color: transparent;
    border: 2px solid #f7b131;
}

.about__btn {
    font-family: Muli;
    font-weight: bold;
    font-size: 21px;
    color: #ffffff;
    width: 380px;
    height: 61px;
    display: flex;
    align-items: center;
    padding-left: 29px;
    margin-bottom: 95px;
}

/* Секция Продукт  */

.product {
    display: flex;
    justify-content: stretch;

}

.product__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 720px;
    width: 480px;
    max-width: 100%;
    max-height: 100%;
}

.product__box:first-child {
    background-color: #602a1a;
}

.product__box:nth-child(2) {
    background-color: #168a6f;
}

.product__box:nth-child(3) {
    background-color: #f5b039;
}

.product__box:last-child {
    background-color: #c6441c;
}

.product__title {
    font-family: "Muli";
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 16px;
}

.product__span {
    font-family: Muli-Italic;
    font-size: 21px;
    color: #ffffff;
    line-height: 22px;
    margin-bottom: 53px;
}

.product__btn {
    border: 2px solid white;
    height: 61px;
    width: 205px;
    display: flex;
    align-items: center;
    padding-left: 37px;
    color: white;
    font-size: 21px;
}

.product__img {
    padding-top: 129px;
}

/* Блок Story  */

.story {
    max-width: 100%;
    display: flex;
}

.story__img {
    display: flex;
    justify-content: stretch;
    padding-left: 233px;
    padding-top: 120px;
    padding-bottom: 155px;
    padding-right: 310px;
}

.story__text {
    margin: 0px;
    font-size: 18px;
    line-height: 35px;
    width: 515px;
    height: 118px;
    margin-bottom: 54px;
}

.story__content {
    width: 508px;
    height: 337px;
    display: flex;
    flex-direction: column;
    margin-top: 262px;
    margin-left: 308px;
    margin-bottom: 290px;
    display: flex;
}

.story__title {
    margin-top: 0px;
    margin-bottom: 43px;
}

.story__btn {
    height: 61px;
    width: 302px;
    margin: 0px;
    display: flex;
    align-items: center;
    padding-left: 31px;
    font-size: 21px;
}


/* Блок testimonials */

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #662c1e;
    height: 718px;
}

.testimonials__title {
    margin-top: 117px;
    margin-bottom: 118px;
}

.title--color {
    color: #f2612d;
}

.testimonials__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 19px;
    max-width: 734px;
    padding-bottom: 144px;
}

.testimonials__quote {
    text-align: center;
    font-size: 18px;
}

.quote__text {
    font-family: Muli-Regular;
    color: #ffffff;
    line-height: 35px;
    font-weight: lighter;
    width: 455px;
    height: 130px;
}

.quote__autor {
    font-family: Muli-Semi;
    color: #f7ae3b;
    font-weight: bolder;
}

.testimonials__controls {
    display: flex;
    column-gap: 98px;
}

/* Блок blog */

.blog {
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 61px;
}

.blog__left-block {
    display: flex;
    flex-direction: column;
}

.blog__article {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 300px;
    margin-top: 200px;
}

.article__heading {
    width: 540px;
    height: 199px;
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 40px;
    color: #f2612d;
    font-weight: 800;
    font-family: "Muli";
}

.article__text {
    width: 476px;
    height: 240px;
    margin-left: 65px;
}

.article__link {
    font-family: "Muli-ExtraBold";
    color: #1e1e1e;
}

/* Блок instagram  */

.instagram_link {
    font-family: Muli-ExtraBold;
    font-size: 24px;
    color: #0aa566;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 45px;
}

.instagram__content {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.instagram_photo {
    max-width: 20%;
}

/* footer  */

.footer {
    display: flex;
    flex-direction: column;
}

.footer__top {
    background-color: #f5ab3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .footer__information {
    display: flex;
    flex-direction: column;
} */

.information__list {
    padding: 0;
    font-family: Muli-Bold;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 35px;
    margin-bottom: 110px;
}

.footer__logo {
    padding-left: 100px;
}

.payment__list {
    margin-bottom: 90px;
}

.payment__title,
.information__title,
.subscribe__title {
    margin-top: 78px;
    margin-bottom: 50px;
}

.title--white {
    font-family: Muli-ExtraBold;
    font-size: 26px;
    color: #ffffff;
    letter-spacing: -1;
    line-height: 40px;
    font-weight: 800;
}


.information__link {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 35px;
    color: #6d450c;
    font-weight: 700;
    font-family: "Muli";
}


.payment__list {
    display: flex;
    flex-wrap: wrap;
    height: 190px;
    width: 254px;
    padding: 0;
    column-gap: 17px;
}


.footer__subscribe {
    margin-right: 100px;
}

/* .subscribe__title {
    margin-top: 0;
} */

.subscribe__form {
    display: flex;
    flex-direction: column;
}

.form__input--text {
    outline: none;
    background-image: url(./assets/images/subscribe.png);
    background-position-x: 20px;
    background-position-y: 20px;
    padding-left: 69px;
    padding-right: 20px;
    background-repeat: no-repeat;
    border: none;
    width: 495px;
    height: 60px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 900;
    color: #6d450c;
    margin-bottom: 33px;
}

.form__input--submit {
    font-family: "Muli-ExtraBold";
    font-size: 18px;
    color: #6d450c;
    letter-spacing: 0;
    line-height: 40px;
    font-weight: 800;
    background-color: transparent;
    border: none;
}

.social__list--transparent {
    display: flex;
    column-gap: 25px;
}

.footer__social {
    padding-left: 300px;
    margin-top: -55px;
    margin-bottom: 130px;
}

.footer__down {
    display: flex;
    background-color: #692921;
    color: #ffffff;
}

.footer__small {
    margin: auto;
}

.footer__up {
    padding-right: 163px;
    font-size: 16px;
}
