@font-face {
    font-family: Muli-Bold;
    src: url(./assets/fonts/Muli-Bold.ttf);
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: Muli-BoldItalic;
    src: url(./assets/fonts/Muli-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Muli-ExtraBold;
    src: url(./assets/fonts/Muli-ExtraBold.woff);
    font-display: swap;
}

@font-face {
    font-family: Muli-Italic;
    src: url(./assets/fonts/Muli-Italic.ttf);
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Muli-Regular;
    src: url(./assets/fonts/Muli-Regular.woff);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Muli-Semi;
    src: url(./assets/fonts/Muli-Semi-BoldItalic.ttf);
    font-display: swap;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    font-family: "Muli-Regular", sans-serif;

}

.btn {
    border-radius: 50px;
    font-family: "Muli-ExtraBold";
}

.btn--green {
    background-color: #09a565;
    color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.title {
    font-family: "Muli-ExtraBold";
    letter-spacing: -1px;
    font-weight: 800;
}

/* Блок header  */

.header {
    height: 100vh;
    max-width: 100%;
    background-image: url(./assets/images/header-bg-img.png);
    background-position: center;
    background-size: cover;
    color: white;
}

.header__top {
    margin: 50px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    padding: 0px;
    display: flex;
    column-gap: 35px;
}

.menu__link {
    font-family: Muli-Bold;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

.header__right-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 135px;
}

.personal__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 46px;
    padding-left: 0px;
}

.personal__list-item {
    display: flex;
    justify-content: space-between;
}


.personal__counter {
    color: #000000;
    background-color: #ffffff;
    width: 19px;
    height: 19px;
    border-radius: 50px;
    border-color: transparent;
    font-size: 10px;
    line-height: 40px;
}

.social__list-item {
    border-radius: 50%;
    border-color: transparent;
    background-color: #ffffff;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__list {
    list-style-type: none;
    padding: 0px;
    display: flex;
    column-gap: 10px;
}

.header__content {
    display: flex;
    justify-content: center;
}

.content__btn {
    width: 281px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Блок smoothies  */



.smoothies {
    max-width: 100%;
    /*может это нужно убрать? Проверить после верстки всего блока */
}

.title--orange {
    color: #f7ae3b;
    line-height: 40px;
    font-size: 50px;
}

.smoothies__title {
    text-align: center;
    margin-bottom: 55px;
    margin-top: 97px;
}

.text {
    font-size: 18px;
    line-height: 35px;
    color: #1e1e1e;
}

.smoothies__text {
    max-width: 918px;
    max-height: 156px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.smoothies__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 1010px;
    height: 410px;
}

.smoothies__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    width: 150px;
    /* max-width: 100%;
    max-height: 100%; */
}

.smoothies__span {
    text-align: center;
    color: #f2612d; 
}


/* Блок About  */

.about {
    background-color: #108173;
    max-width: 100%;
    display: flex;
    column-gap: 142px;
}

.about__title {
    color: #ffffff;
    height: 102px;
    width: 588px;
    display: flex;
    flex-wrap: wrap;
}

.title--yellow {
    color: #cae941;
}

.about__list {
    list-style-image: url(./assets/images/1.png);
}

.about__item {
    font-size: 21px;
    color: #ffffff;
}

.item--bold {
    font-family: Muli-ExtraBold;
}

.btn--transparet {
    background-color: transparent;
    border: 2px solid #f7b131;
    font-size: 21px;
    color: #ffffff;
}

/* Секция Продукт  */

.product {
    display: flex;
    justify-content: stretch;

}

.product__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 720px;
    width: 480px;
    max-width: 100%;
    max-height: 100%;
}

.product__box:first-child {
    background-color: #602a1a;
}

.product__box:nth-child(2) {
    background-color: #168a6f;
}

.product__box:nth-child(3) {
    background-color: #f5b039;
}

.product__box:last-child {
    background-color: #c6441c;
}

.product__title {
    font-family: Muli-Bold;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 16px;
}

.product__span {
    font-family: Muli-Italic;
    font-size: 21px;
    color: #ffffff;
    line-height: 22px;
    margin-bottom: 53px;
}

.product__btn {
    border: 2px solid white;
    height: 61px;
    width: 205px;
    display: flex;
    align-items: center;
    padding-left: 37px;
}

.product__img {
    padding-top: 129px;
}

/* Блок Story  */

.story {
    max-width: 100%;
    display: flex;
}

.story__img {
    display: flex;
    justify-content: stretch;
    margin-left: 310px;
    margin-top: 120px;
    margin-bottom: 155px;
    margin-right: 310px;
}

.story__text {
    margin: 0px;
    font-size: 18px;
    line-height: 35px;
    width: 470px;
    height: 130px;
    margin-bottom: 54px;
}

.story__content {
    width: 508px;
    height: 337px;
    display: flex;
    flex-direction: column;
    margin-top: 262px;
    margin-left: 308px;
    margin-bottom: 290px;
    display: flex;
}

.story__title {
    margin-top: 0px;
    margin-bottom: 43px;
}

.story__btn {
    height: 61px;
    width: 302px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding-left: 31px;
}
