@font-face {
    font-family: Muli-Bold;
    src: url(./assets/fonts/Muli-Bold.ttf);
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: Muli-BoldItalic;
    src: url(./assets/fonts/Muli-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Muli-ExtraBold;
    src: url(./assets/fonts/Muli-ExtraBold.woff);
    font-display: swap;
}

@font-face {
    font-family: Muli-Italic;
    src: url(./assets/fonts/Muli-Italic.ttf);
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Muli-Regular;
    src: url(./assets/fonts/Muli-Regular.woff);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Muli-Semi;
    src: url(./assets/fonts/Muli-Semi-BoldItalic.ttf);
    font-display: swap;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    border: 1px solid transparent;
}

body {
    font-family: "Muli-Regular", sans-serif;

}

.btn {
    border-radius: 50px;
    font-family: "Muli";
    font-weight: 700;
}

.btn--green {
    background-color: #09a565;
    color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.title {
    font-family: "Muli-ExtraBold";
    letter-spacing: -1px;
    font-weight: 800;
}

/* Блок header  */

.header {
    height: 100vh;
    max-width: 100%;
    background-image: url(./assets/images/header-bg-img.png);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    color: white;
}

.header__top {
    margin-top: 64px;
    margin-left: 73px;
    margin-right: 73px;
    margin-bottom: 99px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu__list {
    padding-left: 15px;
    display: flex;
    column-gap: 31px;
}

.menu__link {
    font-family: Muli-Bold;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)   ;
}

.header__right-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 132px;
    position: relative;
}

.personal__list {
    display: flex;
    align-items: center;
    column-gap: 41px;
}

.personal__list::after {
    content: "";
    width: 47px;
    height: 2px;
    background-color: #ffd68f;
    position: absolute;
    right: 173px;
}

.personal__list-item:last-child {
    position: relative;
}

.personal__counter {
    color: #000000;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border-color: transparent;
    font-size: 10px;
    position: absolute;
    top: -9px;
    right: -16px;
}

.social__list-item {
    border-radius: 50%;
    border-color: transparent;
    background-color: #ffffff;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__list {
    list-style-type: none;
    padding: 0px;
    display: flex;
    column-gap: 10px;
}

.header__content {
    display: flex;
    justify-content: center;
}

.content__btn {
    width: 281px;
    height: 71px;
    font-size: 24px;
    padding-top: 19px;
    padding-left: 44px;
}

.content__btn:hover {
    transition: 1s;
    transform: scale(1.2);
}

.content__btn::after {
    content: "";
    background-image: url(./assets/images/Arrow.png);
    background-repeat: no-repeat;
    object-fit: cover;
    width: 33px;
    height: 20px;
    position: absolute;
    top: 29px;
    right: 29px;
}

.header__btn {
    display: flex;
    position: relative;
    }

.menu__item:hover,
.personal__list-item:hover,
.social__list-item:hover {
    transition: 1s;
    transform: scale(1.5);
}


/* Блок smoothies  */

.smoothies {
    height: 870px;
    /*может это нужно убрать? Проверить после верстки всего блока */
}

.title--orange {
    color: #f7ae3b;
    line-height: 40px;
    font-size: 50px;
}

.smoothies__title {
    text-align: center;
    margin-bottom: 36px;
    margin-top: 97px;
}

.text {
    font-size: 18px;
    line-height: 35px;
    color: #1e1e1e;
}

.smoothies__text {
    max-width: 922px;
    max-height: 156px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 44px;
    margin-bottom: 35px;
}

.smoothies__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 1010px;
    height: 400px;
    max-width: 100%;
}

.smoothies__item {
    display: flex;
    flex-direction: column;
    height: 198px;
    width: 249px;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 66px;
}

.smoothies__item:nth-child(1),
.smoothies__item:nth-child(2),
.smoothies__item:nth-child(3) {
    border-right: 2px solid #f6ecdd;
    border-bottom: 2px solid #f6ecdd;
}

.smoothies__item:nth-child(4) {
    border-bottom: 2px solid #f6ecdd;
}

.smoothies__item:nth-child(5),
.smoothies__item:nth-child(6),
.smoothies__item:nth-child(7) {
    border-right: 2px solid #f6ecdd;
}

.smoothies__img {
    object-fit: cover;
    margin: auto;
}

.smoothies__span {
    text-align: center;
    font-size: 25px;
    color: #f2612d;
}


/* Блок About  */

.about {
    background-color: #108173;
    max-width: 100%;
    max-height: 800px;
    display: flex;
}

.about__content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.about__img {
    margin-bottom: -86px;
    z-index: 1;
    max-width: 691px;
    max-height: 818px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    margin-left: 143px;
    margin-right: 137px;
    margin-top: 56px;
}

.about__title {
    color: #ffffff;
    font-size: 55px;
    text-align: left;
    margin-top: 82px;
    margin-bottom: 31px;
    position: relative;
}

.title--yellow {
    color: #cae941;
}

.title--yellow::after {
    content: "";
    background-image:url(./assets/images/line_green.png);
    background-repeat: no-repeat;
    width: 460px;
    height: 25px;
    position: absolute;
    top: 123px;
    left: 61px;
}

.about__list {
    list-style-image: url(./assets/images/1.png);
    margin-bottom: 55px;
    padding-left: 25px;
}

.about__item {
    font-size: 21px;
    color: #ffffff;
    line-height: 16px;
    padding-left: 7px;
}

.about__item:not(:last-child) {
    margin-bottom: 24px;
}

.item--bold {
    font-family: Muli-ExtraBold;
}

.btn--transparet {
    background-color: transparent;
    border: 2px solid #f7b131;
}

.about__btn::after {
    content: "";
    background-image: url(./assets/images/Arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 40px;
    height: 20px;
    top: 24px;
    right: 36px;
}

.about__button {
    width: 390px;
    height: 70px;
    position: relative;
}

.about__btn {
    font-family: Muli;
    font-weight: bold;
    font-size: 21px;
    color: #ffffff;
    width: 380px;
    height: 61px;
    display: flex;
    align-items: center;
    padding-left: 29px;
}

/* Секция Продукт  */

.product {
    display: flex;
    justify-content: stretch;

}

.product__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 720px; /*или нужно здесь мин высота, мин ширина? */
    width: 480px;
    max-width: 100%;
    max-height: 100%;
}

.product__box:first-child {
    background-color: #602a1a;
}

.product__box:nth-child(2) {
    background-color: #168a6f;
}

.product__box:nth-child(3) {
    background-color: #f5b039;
}

.product__box:last-child {
    background-color: #c6441c;
}

.product__title {
    font-family: "Muli";
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 32px;
}

.product__span {
    font-family: Muli-Italic;
    font-size: 21px;
    color: #ffffff;
    line-height: 22px;
    margin-bottom: 59px;
}

.product__btn {
    border: 2px solid white;
    height: 61px;
    width: 205px;
    display: flex;
    align-items: center;
    padding-left: 37px;
    color: white;
    font-size: 21px;
}

.product__btn::after {
    content: "";
    background-image: url(./assets/images/Arrow_white.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 40px;
    height: 20px;
    transform: translate(100px, 0px);
}

.product__img {
    padding-top: 129px;
    object-fit: cover;
}

/* Блок Story  */

.story {
    max-width: 100%;
    display: flex;
    position: relative;
    height: 880px;
}

.story__img {
    display: flex;
    justify-content: stretch;
    max-height: 601px;
    max-width: 585px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

.story__pic {
    padding-top: 125px;
}

.story__title::after {
    content: "";
    background-image:url(./assets/images/stamp.png);
    width: 306px;
    height: 248px;
    background-repeat: no-repeat;
    position: absolute;
    top: -116px;
    right: -350px;
}

.story__pic::before {
    content: "";
    background-image:url(./assets/images/Dots.png);
    width: 420px;
    height: 320px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -248px;
    right: 27px;
}

.story__text {
    margin: 0px;
    font-size: 18px;
    line-height: 35px;
    width: 515px;
    height: 118px;
    margin-bottom: 69px;
}

.story__content {
    max-width: 508px;
    max-height: 337px;
    display: flex;
    flex-direction: column;
    margin-left: 305px;
    margin-right: 210px;
    margin-top: 260px;
    position: relative;
}

.story__title {
    margin-top: 0px;
    margin-bottom: 43px;
}

.story__btn {
    height: 61px;
    width: 302px;
    margin: 0px;
    display: flex;
    align-items: center;
    padding-left: 31px;
    font-size: 21px;
}

.story__btn::after {
    content: "";
    background-image: url(./assets/images/Arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 40px;
    height: 20px;
    transform: translate(197px, 0px);
}


/* Блок testimonials */

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #662c1e;
    height: 718px;
}

.testimonials__title {
    margin-top: 121px;
    margin-bottom: 134px;
}

.title--color {
    color: #f2612d;
}

.testimonials__block {
    display: flex;
    align-items: center;
    column-gap: 6px;
    max-width: 734px;
    padding-bottom: 110px;
}

.testimonials__quote {
    text-align: center;
    font-size: 18px;
    position: relative;
    z-index: 3;
}

.quote__text {
    font-family: Muli-Regular;
    color: #ffffff;
    line-height: 35px;
    font-weight: lighter;
    max-width: 469px;
    max-height: 130px;
    margin-left: 0px;
    margin-right: 32px;
    margin-bottom: 13px;
    margin-top: 0px;
}

.testimonials__img {
    max-height: 218px;
    max-width: 220px;
    object-fit: cover;
    z-index: 3;
}

.quote__text::after {
    content: "Sarah A.";
    display: block;
    position: absolute;
    font-size: 200px;
    font-family: "Muli-ExtraBold";
    color: #521905;
    line-height: 0.2;    
    width: 858px;
    height: 148px;  
    top: -38px;
    left: -163px;
    z-index: -1;
    opacity: 60%;
}

.quote__autor {
    font-family: Muli-Semi;
    color: #f7ae3b;
    font-weight: bolder;
}

.testimonials__controls {
    display: flex;
    column-gap: 98px;
}

/* Блок blog */

.blog {
    height: 800px;
    display: flex;
    justify-content: center;
    /* align-items: center;
    column-gap: 61px; */
}

.blog__left-block {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    margin-right: 85px;
}

.left-block__title {
    margin-bottom: 55px;
}

.blog__article {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 300px;
    max-height: 100%;
    max-width: 100%;
    margin-top: 301px;
    position: relative;
}

.article__heading {
    max-width: 540px;
    max-height: 199px;
    font-size: 30px;
    letter-spacing: -0.5px;
    line-height: 40px;
    color: #f2612d;
    font-weight: 800;
    font-family: "Muli";
    margin-bottom: 8px;
    margin-left: -25px;
}

.article__heading::before {
    content: "";
    background-color: #f7ad3d;
    height: 12px;
    width: 645px;
    border-radius: 50px;
    position: absolute;
    top: -28px;
    left: -92px;
    z-index: -1;
}

.article__datatime {
    margin-left: -29px;
}

.article__text {
    max-width: 482px;
    max-height: 240px;
    position: relative;
    margin-top: 34px;
    margin-left: 35px;
}

.article__link {
    font-family: "Muli-ExtraBold";
    font-style: italic;
    color: #1e1e1e;
}

.article__link::after {
    content: "";
    background-image: url(./assets/images/Arrow.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 15px;
    position: absolute;
    bottom: 10px;
    right: 136px;
    object-fit: contain;
}

.left-block__img {
    max-width: 555px;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    background-size:cover;
}

/* Блок instagram  */

.instagram_link {
    font-family: Muli-ExtraBold;
    font-size: 24px;
    color: #0aa566;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 45px;
    margin-left: 21px;
    letter-spacing: -0.5px;
}

.instagram_link::before {
    content: "";
    background-image: url(./assets/images/Icon.png);
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    margin-right: 11px;
    object-fit: contain;
    transform: translateX(-5px);
}

.instagram__content {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.instagram__photo {
    max-width: 20%;
}

.in

/* footer  */

.footer {
    display: flex;
    flex-direction: column;
}

.footer__top {
    background-color: #f5ab3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 380px;
}

.footer__information {
    /* transform: translate(171px, -12px); */
    max-height: 196px;
    max-width: 243px;
    width: 100%;
    transform: translate(144px, 2px);
} 

.information__list {
    /* padding: 0; */
    font-family: Muli-Bold;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 35px;
    padding-left: 13px;
    /* margin-block-start: 11px; */
    /* margin-bottom: 110px; */
}

.footer__logo {
    transform: translate(100px, -15px);
}

.payment__list {
    /* margin-bottom: 90px; */
}

.payment__title,
.information__title,
.subscribe__title {
    /* margin-top: 143px; */
}

.information__title {
    margin: 0px;
    padding-left: 16px;
    /* margin-bottom: 12px; */
}

.title--white {
    font-family: Muli-ExtraBold;
    font-size: 26px;
    color: #ffffff;
    letter-spacing: -1;
    line-height: 40px;
    font-weight: 800;
    /* margin-block: 0px; */
}


.information__link {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 35px;
    color: #6d450c;
    font-weight: 700;
    font-family: "Muli";
}

.footer__payment {
    max-width: 254px;
    max-height: 214px;
    width: 100%;

    /* transform: translate(84px, 52px); */
}

.payment__title {
    margin: 0px;
    padding-left: 0px;
    padding-top: 15px;
}

.payment__list {
    display: flex;
    flex-wrap: wrap;
    max-height: 190px;
    max-width: 254px;
    width: 100%;
    padding: 0;
    column-gap: 17px;
    row-gap: 19px;
    /* margin-block-start: 31px; */
}

.footer__information,
.footer__payment,
.footer__subscribe {
    margin-block-start: -40px;
}


.footer__subscribe {
    /* margin-right: 100px; */
    position: relative;
    transform: translate(-76px, 32px);
}

.subscribe__title {
    margin: 0;
}

.subscribe__form {
    display: flex;
    flex-direction: column;
}

.form__input--text {
    outline: none;
    background-image: url(./assets/images/subscribe.png);
    background-position-x: 20px;
    background-position-y: 20px;
    padding-left: 69px;
    padding-right: 20px;
    background-repeat: no-repeat;
    border: none;
    width: 495px;
    height: 60px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 900;
    color: #6d450c;
    margin-bottom: 33px;
}

.form__input--submit {
    font-family: "Muli-ExtraBold";
    font-size: 18px;
    color: #6d450c;
    letter-spacing: 0;
    line-height: 40px;
    font-weight: 800;
    background-color: transparent;
    border: none;
}

.social__list--transparent {
    display: flex;
    column-gap: 25px;
}

.footer__social {
    /* padding-left: 300px;
    margin-top: -55px;
    margin-bottom: 130px; */
}

.footer__down {
    display: flex;
    background-color: #692921;
    color: #ffffff;
    height: 50px;
}

.footer__small {
    margin: auto;
}

.footer__up {
    padding-right: 163px;
    font-size: 16px;
}


.subscribe__form::before {
    content: "";
    background-image: url(./assets/images/arrow3.png);
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 250px;
    left: 122px;
}