.story {
    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    
        padding: 120px 0px 160px 0px;
    }
    
    &__img {
        max-width: 585px;
        width: 100%;
        object-fit: cover;
    }
    
    &__pic {
        position: relative;
    }
    
    &__pic {
    &::before {
        content: "";
        background-image: url(./../images/stamp.png);
        width: 306px;
        height: 248px;
        background-repeat: no-repeat;
        position: absolute;
        top: 4%;
        left: -28%;
    }
}
    
    &__title {
        margin-bottom: 30px;
        font-size: 50px;
    }
    
    &__text {
        width: 515px;
        height: 118px;
        margin-bottom: 70px;
    }
    
    &__content {
        margin-right: 200px;
    }
    
    
    &__btn {
        display: flex;
        align-items: center;
    
        height: 61px;
        width: 302px;
    
        padding-left: 31px;
        font-size: 21px;
    }
    
    &__btn {
        &::after {
        content: "";
        background-image: url(./../images/Arrow.png);
        background-repeat: no-repeat;
        position: absolute;
    
        width: 40px;
        height: 20px;
    
        transform: translate(197px, 0px);
    }   
}
}