.about {
    background-color: #108173;

    &__wrapper {
        display: flex;
        padding-left: 155px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 600px;
    }

    &__img {
        object-fit: cover;
        margin-right: 140px;
        max-height: 800px;
        max-width: 691px;
        position: relative;
        top: 70px;
    }
    

    &__title {
        color: #ffffff;
        font-size: 55px;
        text-align: left;

        margin: 80px 0px 50px 0px;
    }

    &__list {
        list-style-image: url(../../assets/images/1.png);
        margin-bottom: 42px;
        padding-left: 30px;
    }

    &__item {
        font-size: 21px;
        color: #ffffff;
        line-height: 43px;
        margin-left: 7px;
    }

    &__btn {
        font-size: 21px;
        color: #ffffff;
        width: 380px;
        height: 61px;
        display: flex;
        align-items: center;
        padding-left: 29px;
        position: relative;

        background-color: transparent;
        border: 2px solid #f7b131;
    }

    &__btn {
        &::after {
            content: "";
            background-image: url(../../assets/images/Arrow.png);
            background-repeat: no-repeat;
            position: absolute;
            width: 40px;
            height: 20px;
            top: 20px;
            right: 30px;
        }
    }

}
