@font-face {
    font-family: Muli-Bold;
    src: url(./../fonts/Muli-Bold.ttf);
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: Muli-BoldItalic;
    src: url(./../fonts/Muli-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Muli-ExtraBold;
    src: url(./../fonts/Muli-ExtraBold.woff);
    font-display: swap;
}

@font-face {
    font-family: Muli-Italic;
    src: url(./../fonts/Muli-Italic.ttf);
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Muli-Regular;
    src: url(./../fonts/Muli-Regular.woff);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Muli-Semi;
    src: url(./../fonts/Muli-Semi-BoldItalic.ttf);
    font-display: swap;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Muli-Regular", sans-serif;
}

.btn {
    border-radius: 50px;
    font-family: "Muli";
    font-weight: 700;
}

.btn--green {
    background-color: #09a565;
    color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.title {
    font-family: "Muli-ExtraBold";
    letter-spacing: -1px;
    font-weight: 800;
}
