/* Блок header  */

.header {
    height: 100vh;
    max-width: 100%;

    padding-top: 88px;

    background-image: url(./../images/header-bg-img.png);
    background-position: center;
    background-size: cover;
    object-fit: cover;

    &__top {
        margin: 0 100px 120px 90px;
    
        position: relative;
    }
    
    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__burger-btn {
        background-image: url(./../images/burger-menu.png);
        background-color: transparent;
        background-size: cover;
        border: none;
        width: 30px;
        height: 30px;
        position: fixed;
        top: 30px;
        right: 30px;
        display: none;
        z-index: 9999;
    }
    
    &__logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -70%);
    }
    
    &__right-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    &__personal {
        margin: 0px 135px 0px 0px;
    }
    
    // &__title {
    //     line-height: 40px;
    //     font-size: 50px;
    // }
    
    
    &__content {
        display: flex;
        justify-content: center;
    }
    
    &__btn {
        display: flex;
        position: relative;
    }
    &__btn {
        display: flex;
        align-items: center;

        width: 281px;
        height: 70px;

        font-size: 24px;

        padding-left: 36px;

        position: relative;
    }

    &__btn {
        &::after {
            content: "";
            background-image: url(./../images/arrow-right.png);
            background-repeat: no-repeat;
            object-fit: cover;

            width: 33px;
            height: 20px;

            position: absolute;
            top: 29px;
            right: 38px;
        }
    }

    &__btn {
        &:hover {
            transition: 1s;
            transform: scale(1.2);
        }
    }

    &__title {
        font-family: Muli-ExtraBold;
        font-weight: 800;
        font-size: 100px;
        text-align: center;
        color: #ffffff;

        margin-top: 100px;
    }


}

