

.social__list-item {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: #ffffff;

    height: 36px;
    width: 36px;

}

.social__list {
    display: flex;
    column-gap: 10px;
}


.social__list-item:hover {
    transition: 1s;
    transform: scale(1.5);
}
