.title {
    &--orange {
        color: #f7ae3b;
    }

    &--yellow {
        color: #cae941;
        position: relative;
    }

    &--yellow {
        &::after {
            content: "";
            background-image: url(./../images/line_green.png);
            background-repeat: no-repeat;
            width: 460px;
            height: 25px;
            position: absolute;
            top: 60px;
            left: -20px;
        }
    }

    &--color {
        color: #f2612d;
    }

    &--white {
        font-size: 26px;
        color: #ffffff;
    
        margin-bottom: 37px;
    }
    
}