
/* Блок header  */









/* Блок smoothies  */










/* Блок About  */













/* Секция Продукт  */



/* Блок Story  */



/* Блок testimonials */










/* Блок blog */



/* Блок instagram  */




/* footer  */


















/* МЕДИАЗАПРОСЫ */

@media (max-width: 768px) {
    .header__burger-btn {
        display: block;
    }

    .header__navigation {
    display: none;
    background-color: #0aa566;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    }

    .menu__list {
        flex-direction: column;
        height: 500px;
        justify-content: space-between;
    }

    .logo__img {
        width: 250px;
    }

    .menu__item {
        margin: 0;
    }

    .menu__link {
        font-size: 2rem;
    }

    .header__right-block {
        margin: 100px 0 150px;
    }

}

@import './normalize.scss';
@import './basic';

@import '././header/header';
@import '././header/personal';
@import '././header/social';
@import '././header/content';
@import '././header/menu';

@import '././smoothies/smoothies';
@import '././smoothies/text';
@import './title';

@import '././about/about';
@import './components/btn';
@import './item';
@import './components/btn';

@import './product/product';

@import './story/story';

@import './testimonials/testimonials';
@import './testimonials/quote';

@import './blog/blog';
@import './blog/article';
@import './blog/left-block';

@import './instagram/instagram';

@import './footer/_footer';
@import './footer/_form';
@import './footer/_information';
@import './footer/_payment';
@import './footer/_social';
@import './footer/_subscribe';
@import './footer/_up';