.footer {
    &__top {
        background-color: #f5ab3e;
        display: flex;
        justify-content: space-between;
        padding: 75px 100px 70px 100px;
    }
    
    &__logo {
        object-fit: contain;
        margin-right: 140px;
    
        transform: translate(0px, -10%);
    }

    &__social {
        display: flex;
        justify-content: flex-end;
    
        margin-right: 15px;
        transform: translate(-3%, -75%);
    }
    
    &__down {
        display: flex;
        justify-content: center;
        align-items: center;
    
        background-color: #692921;
        color: #ffffff;
        height: 60px;
    }
    
    &__small {
        font-size: 13px;
        color: #af8a82;
    }
    
    .footer__up {
        font-size: 16px;
    }
    

    &__wrap {
        display: flex;
    }

    &__information {
        padding-right: 160px;
    }
    






}